@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lalezar', cursive;
}

.app {
  width: 90vw;
  height: calc(100vh - 10vw);
  margin: 5vw;
}