@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  color: #5990D9;
  background-color: #F2EBD5;
}
h1, h2, h3, h4, h5, h6 {
  color: #F2727D;
  font-family: 'Lalezar', cursive;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 6vw;
  line-height: 6vw;
  float: left;
  margin-bottom: 2vw;
}

h2 {
  font-size: 3vw;
  line-height: 3vw;
}

.App {
  width: 90vw;
  min-height: calc(100vh - 10vw);
  padding: 5vw 0vw 5vw 5vw;
  float: left;
}

input, button, select, textarea {
  padding: 1vw;
  border:  .3vw solid #6393F2;
  background-color: #faf3dc;
  margin: 0 1vw 1vw 0;
  font-size: 1vw;
  color: #5990D9;
  font-weight: 700;
  border-radius: .7vw;
}

textarea {
  width: 38.5vw;
}

.wrapper {
  width: 90vw;
  float: left;
}
button {
  background-color: #5990D9;
  color: #F2EBD5;
}

.floatRight {
  float: right;
}

.small-form {
  padding-bottom: 5vw;
}
.Map {
  height: 32vw;
  border-radius: .7vw;
  overflow: hidden;
}
.fifty {
  margin: 0 0 5vw 5vw;
  width: 42.5vw;
  float: left;
}
.fifty:first-child {
  margin-left: 0;
}

.task {
  width: 15.5vw;
  height: 10vw;
  float: left;
  padding: 2vw;
  color: #F2EBD5;
  margin: 0 4vw 4vw 0;
  border-radius: .7vw;
}
.task:nth-child(4n+1) {
  margin: 0 0 5vw 0;
}

.task h3 {
  font-size: 2vw;
  color: #F2EBD5;
  line-height: 2vw;
}

.task.CREATED {
  background-color: #F2727D;
}
.task.IN_PROGRESS {
  background-color: #6393F2;
}
.task.DONE {
  background-color: #52F28A;
  color: #2a4466;
}
.task.DONE h3 {
  color: #2a4466;
}

.task.feedback {
  background-color: #5990D9;
  height: 6vw;
}

p.lead {
  font-weight: 700;
}

p.description {
  font-size: 1vw;
}
p.stars {
  font-size: 3vw;
  line-height: 4vw;
  margin: 0;
  letter-spacing: .7vw;
  cursor: pointer;
}

p.stars span:hover {
  color: #faf3dc;
}

